@RenderSection("scripts", required: false)


<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .sidebar {
            width: 200px; 
            background-color: #2c3e50; 
            transition: width 0.3s ease; 

        }


            .sidebar a {
                color: #ecf0f1; 
                padding: 10px 15px;
                display: block;
                text-decoration: none;
            }

                .sidebar a:hover {
                    background-color: #34495e; 
                }

        .sidebar-menu ul {
            list-style: none;
            padding-left: 0;
        }

    
        


       

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, html5, responsive">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>@ViewBag.Title - Admin Dashboard</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/AdminDesign/assets/img/favicon.jpg">
    <link rel="stylesheet" href="~/AdminDesign/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminDesign/assets/css/animate.css">
    <link rel="stylesheet" href="~/AdminDesign/assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminDesign/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/AdminDesign/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/AdminDesign/assets/css/style.css">
</head>
<body>

    <div class="main-wrapper">
        <!-- Header -->
        <div class="header">
            <div class="header-left active">
                <a href="index.html" class="logo">
                    <img src="~/HomeDesign/img/logo.jpg" width="70%" height="70%" alt="Logo">
                </a>
                <a href="index.html" class="logo-small">
                    <img src="~/AdminDesign/assets/img/logo-small.png" alt="Logo Small">
                </a>
                <a id="toggle_btn" href="javascript:void(0);"></a>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <ul class="nav user-menu">
                <!-- Search Form -->
                <li class="nav-item">
                    <div class="top-nav-search">
                        <a href="javascript:void(0);" class="responsive-search">
                            <i class="fa fa-search"></i>
                        </a>
                        <form action="#">
                            <div class="searchinputs">
                                <input type="text" placeholder="Search Here ...">
                                <div class="search-addon">
                                    <span><img src="~/AdminDesign/assets/img/icons/closes.svg" alt="img"></span>
                                </div>
                            </div>
                            <a class="btn" id="searchdiv"><img src="~/AdminDesign/assets/img/icons/search.svg" alt="img"></a>
                        </form>
                    </div>
                </li>

                <!-- Notifications -->
                <li class="nav-item dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <img src="~/AdminDesign/assets/img/icons/notification-bing.svg" alt="Notification"> <span class="badge rounded-pill">4</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0);" class="clear-noti">Clear All</a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="~/AdminDesign/assets/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- More notifications here -->
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>

                <!-- User Dropdown -->
                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="~/AdminDesign/assets/img/profiles/avator1.jpg" alt="Avatar">
                            <span class="status online"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img">
                                    <img src="~/AdminDesign/assets/img/profiles/avator1.jpg" alt="Avatar">
                                    <span class="status online"></span>
                                </span>
                                <div class="profilesets">
                                    <h6>John Doe</h6>
                                    <h5>Admin</h5>
                                </div>
                            </div>
                            <hr class="m-0">
                            <a class="dropdown-item" href="profile.html"><i class="me-2" data-feather="user"></i> My Profile</a>
                            <a class="dropdown-item" href="generalsettings.html"><i class="me-2" data-feather="settings"></i> Settings</a>
                            <hr class="m-0">
                            <a class="dropdown-item logout pb-0" href="signin.html"><img src="~/AdminDesign/assets/img/icons/log-out.svg" class="me-2" alt="Logout"> Logout</a>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="dropdown mobile-user-menu">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="generalsettings.html">Settings</a>
                    <a class="dropdown-item" href="signin.html">Logout</a>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="active">
                            <a href="@Url.Action("Index", "Admin")"><img src="~/AdminDesign/assets/img/icons/dashboard.svg" alt="img"><span> Dashboard</span></a>
                        </li>

                     
                        <!-- Manage Content section with submenu -->
                        <li class="submenu">
                            <a href="javascript:void(0);"><i class="fas fa-cogs"></i><span> Manage Content</span> <span class="menu-arrow"></span></a>
                            <ul class="submenu-list" style="display: none;">
                                <li><a asp-action="Testimonials"><i class="fas fa-comments"></i> Testimonials</a></li>
                                <li class="submenu">
                                    <a href="javascript:void(0);"><i class="fas fa-home"></i><span> Home</span><span class="menu-arrow"></span></a>
                                    <ul class="submenu-list" style="display: none;">
                                        <li> <a asp-controller="Admin" asp-action="ManageSliders"><i class="fas fa-images"></i> Sliders</a></li>

                                        @*  <li><a asp-controller="Admin" asp-action="ManageSliders"><i class="fas fa-map-marker-alt"></i> header </a></li> *@
                                    </ul>
                                </li>
                                <li><a asp-action="AboutUs"><i class="fas fa-info-circle"></i> About Us</a></li>
                                <li><a asp-action="ContactUs"><i class="fas fa-envelope"></i> Contact Us</a></li>
                            </ul>
                        </li>


                        <li class="submenu">
                            <a href="javascript:void(0);"><i class="fas fa-globe"></i><span>Countries & Cities</span> <span class="menu-arrow"></span></a>
                            <ul class="submenu-list" style="display: none;">
                                <li> <a asp-controller="Admin" asp-action="ManageCountries"><i class="fas fa-globe"></i> Countries </a></li>
                                <li> <a asp-controller="Admin" asp-action="ManageCities"><i class="fas fa-city"></i> Cities</a></li>

                            </ul>
                        </li>


                        <!-- Amenities section -->
                        <li class="submenu">
                            <a href="javascript:void(0);"><i class="fas fa-concierge-bell"></i><span>Amenities & Services</span> <span class="menu-arrow"></span></a>
                            <ul class="submenu-list" style="display: none;">
                                <li> <a asp-controller="Admin" asp-action="AddAmenities"><i class="fas fa-hotel"></i> Amenities</a></li>
                                <li> <a asp-controller="Admin" asp-action="AddServices"><i class="fas fa-hotel"></i> Services</a></li>
                                @*     <li> <a asp-action="RoomAmenities"><i class="fas fa-bed"></i> Room serviess</a></li> *@
                            </ul>
                        </li>



                        <!-- Hotels and Events section -->
                        <li class="submenu">
                            <a href="javascript:void(0);"><i class="fas fa-hotel"></i><span> Hotels & Events</span> <span class="menu-arrow"></span></a>
                            <ul class="submenu-list" style="display: none;">
                                <li> <a asp-controller="Hotels" asp-action="Index"><i class="fas fa-bed"></i> Hotels</a></li>
                                <li> <a asp-controller="Events" asp-action="Index"><i class="fas fa-calendar-alt"></i> Events</a></li>
                            </ul>
                        </li>

                        <!-- Room Types and Rooms section -->
                        <li class="submenu">
                            <a href="javascript:void(0);"><i class="fas fa-door-open"></i><span> Room Types & Rooms</span> <span class="menu-arrow"></span></a>
                            <ul class="submenu-list" style="display: none;">
                                <li> <a asp-action="RoomTypes"><i class="fas fa-th-list"></i> Room Types</a></li>
                                <li> <a asp-action="Rooms"><i class="fas fa-bed"></i> Rooms</a></li>
                            </ul>
                        </li>

                   

                        <!-- Users section -->
                        <li>
                            <a asp-action="Users"><i class="fas fa-users"></i><span> Users</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>


        <!-- Main Content -->
        <div class="page-wrapper">
            @RenderBody()
        </div>
    </div>
    <!--  Google Maps -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>

    <script src="~/AdminDesign/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/AdminDesign/assets/js/feather.min.js"></script>
    <script src="~/AdminDesign/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/AdminDesign/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminDesign/assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminDesign/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminDesign/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/AdminDesign/assets/plugins/apexchart/chart-data.js"></script>
    <script src="~/AdminDesign/assets/js/script.js"></script>

</body>
</html>
