@RenderSection("scripts", required: false)

<!DOCTYPE html>

<html>
<head>


    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="~/HomeDesign/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->




    <link rel="stylesheet" href="~/HomeDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/HomeDesign/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/HomeDesign/css/magnific-popup.css">
    <link rel="stylesheet" href="~/HomeDesign/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/HomeDesign/css/themify-icons.css">
    <link rel="stylesheet" href="~/HomeDesign/css/nice-select.css">
    <link rel="stylesheet" href="~/HomeDesign/css/flaticon.css">
    <link rel="stylesheet" href="~/HomeDesign/css/gijgo.css">
    <link rel="stylesheet" href="~/HomeDesign/css/animate.css">
    <link rel="stylesheet" href="~/HomeDesign/css/slick.css">
    <link rel="stylesheet" href="~/HomeDesign/css/slicknav.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="~/HomeDesign/css/style.css">



    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<body>
    <header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <!-- Logo Section -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a asp-controller="Home" asp-action="Index">
                                        <img src="~/HomeDesign/img/logo.jpg" alt="logo image" width="70%" height="70%">
                                    </a>
                                </div>
                            </div>

                            <!-- Navigation Menu -->
                            <div class="col-xl-6 col-lg-6">
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                            <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                                            <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>

                                            <!-- Dropdown Menu for Services -->
                                            <li>
                                                <a href="#">Services <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a asp-controller="Home" asp-action="DisplayAllCountries">Country</a></li>
                                                    <li><a asp-controller="Home" asp-action="DisplayAllCities">Cities</a></li>
                                                    <li><a asp-controller="Home" asp-action="DisplayAllHotels">Hotels</a></li>
                                                    <li><a asp-controller="Home" asp-action="DisplayAllEvent">Events</a></li>
                                                    <li><a asp-controller="Home" asp-action="Index">Booking</a></li>
                                                  
                                                   
                                                </ul>
                                            </li>

                                            <!-- Dropdown Menu for Register / Log In -->
                                            <li>
                                                <a href="#">Register / Log In <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                                                    <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
                                                </ul>
                                            </li>

                                            <!-- Dropdown Menu for More -->
                                            <li>
                                                <a href="#">More <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                                                    <li><a asp-controller="Blog" asp-action="SingleBlog">Single Blog</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                            <!-- Social Media, Search, and Currency Section -->
                            <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                                <div class="social_wrap d-flex align-items-center justify-content-end">
                                    <!-- Social Media Links -->
                                    <div class="social_links d-none d-xl-block">
                                        <ul>
                                            <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
                                            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>

                                    <!-- Search Form -->
                                    <div class="header-search">
                                        <form asp-action="Search" asp-controller="Home" method="get">
                                            <input type="text" name="query" placeholder="Search here..." />
                                            <button type="submit"><i class="fas fa-search"></i></button>
                                        </form>
                                    </div>

                                    <!-- Currency Selector -->
                                    <form asp-action="ChangeCurrency" asp-controller="Currency" method="post" class="ml-3">
                                        <select name="toCurrency" onchange="this.form.submit()" size="1">
                                            <option value="JOD">JOD</option>
                                            <option value="USD">USD</option>
                                            <option value="EUR">EUR</option>
                                            <option value="AED">AED</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- header-end -->



    <div>
        @RenderBody()
    </div>

    <!-- testimonial_area  -->
<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="~/HomeDesign/img/testmonial/author.png" alt="">
                                    </div>
                                    <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                    <div class="testmonial_author">
                                        <h3>- Micky Mouse</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="~/HomeDesign/img/testmonial/author.png" alt="">
                                    </div>
                                    <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                    <div class="testmonial_author">
                                        <h3>- Tom Mouse</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="~/HomeDesign/img/testmonial/author.png" alt="">
                                    </div>
                                    <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                    <div class="testmonial_author">
                                        <h3>- Jerry Mouse</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->



    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="~/HomeDesign/img/footer_logo.png" alt="footer_logo" width="50%" height="50%">
                                </a>
                            </div>
                            <p>
                                5th flora, 700/D kings road, green <br> lane New York-1782 <br>
                                <a href="#">+10 367 826 2567</a> <br>
                                <a href="#">contact@carpenter.com</a>
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.instagram.com/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.youtube.com/">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.facebook.com/">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Company
                            </h3>
                            <ul class="links">
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#"> Gallery</a></li>
                                <li><a href="#"> Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Popular destination
                            </h3>
                            <ul class="links double_links">
                                <li><a href="#">Jordan</a></li>
                                <li><a href="#">UAE</a></li>
                                <li><a href="#">Turkey</a></li>
                                <li><a href="#">Switzerland</a></li>
                                <li><a href="#">Italy</a></li>
                                <li><a href="#">paris</a></li>


                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Cities
                            </h3>
                            <ul class="links">
                                <li><a href="#">Amman</a></li>
                                <li><a href="#">Dubai</a></li>
                                <li><a href="#">Aqaba</a></li>
                                <li><a href="#">Irbid</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="newletter_area overlay">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-10">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="newsletter_text">
                                    <h4>Subscribe Our Newsletter</h4>
                                    <p>Subscribe newsletter to get offers and events  new places to discover </p>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="mail_form">
                                    <div class="row no-gutters">
                                        <div class="col-lg-9 col-md-8">
                                            <div class="newsletter_field">
                                                <input type="email" placeholder="Your mail">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4">
                                            <div class="newsletter_btn">
                                                <button class="boxed-btn4 " type="submit">Subscribe</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Modal -->
    <div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="serch_form">
                    <input type="text" placeholder="Search">
                    <button type="submit">search</button>
                </div>
            </div>
        </div>
    </div>
    <!-- link that opens popup -->
    <!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>

        <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script> -->
    <!-- JS here -->
    <script src="~/HomeDesign/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/HomeDesign/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/HomeDesign/js/popper.min.js"></script>
    <script src="~/HomeDesign/js/bootstrap.min.js"></script>
    <script src="~/HomeDesign/js/owl.carousel.min.js"></script>
    <script src="~/HomeDesign/js/isotope.pkgd.min.js"></script>
    <script src="~/HomeDesign/js/ajax-form.js"></script>
    <script src="~/HomeDesign/js/waypoints.min.js"></script>
    <script src="~/HomeDesign/js/jquery.counterup.min.js"></script>
    <script src="~/HomeDesign/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/HomeDesign/js/scrollIt.js"></script>
    <script src="~/HomeDesign/js/jquery.scrollUp.min.js"></script>
    <script src="~/HomeDesign/js/wow.min.js"></script>
    <script src="~/HomeDesign/js/nice-select.min.js"></script>
    <script src="~/HomeDesign/js/jquery.slicknav.min.js"></script>
    <script src="~/HomeDesign/js/jquery.magnific-popup.min.js"></script>
    <script src="~/HomeDesign/js/plugins.js"></script>
    <script src="~/HomeDesign/js/gijgo.min.js"></script>
    <script src="~/HomeDesign/js/slick.min.js"></script>



    <!--  Google Maps -->

    <!--contact js-->
    <script src="~/HomeDesign/js/contact.js"></script>
    <script src="~/HomeDesign/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/HomeDesign/js/jquery.form.js"></script>
    <script src="~/HomeDesign/js/jquery.validate.min.js"></script>
    <script src="~/HomeDesign/js/mail-script.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

    <script src="~/HomeDesign/js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
    </script>

</body>
</html>
