@model HarmonyHotles.Models.Slider

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Slider</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sliderid" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buttontext" class="control-label"></label>
                <input asp-for="Buttontext" class="form-control" />
                <span asp-validation-for="Buttontext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buttonlink" class="control-label"></label>
                <input asp-for="Buttonlink" class="form-control" />
                <span asp-validation-for="Buttonlink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isactive" class="control-label"></label>
                <input asp-for="Isactive" class="form-control" />
                <span asp-validation-for="Isactive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Displayorder" class="control-label"></label>
                <input asp-for="Displayorder" class="form-control" />
                <span asp-validation-for="Displayorder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
